/* selector{property:value;} css syntax(who,what,how)*/
      body {
        background-color: #EAF6F6;
      }
      hr{
        /* border-style: none; */
        border-style: dotted none none;
        border-color: rgb(158, 156, 156);
        border-width: 5px;
        width: 5%;
        height: 0%;
      }
      img{
        height: 40%;
      }
   h3{
    color: #227C70;
   }
   h1{
    color: #1C315E;
   }
   a{
    text-decoration: none;
   }
   a{
    color:rgb(98, 85, 238);
    text-decoration: none;
}
a:hover{
    color:rgb(103, 176, 100);
}